@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";
.bg-overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: linear-gradient(
      90deg,
      rgba(10, 12, 13, 0.9) 7%,
      rgba(12, 23, 19, 0.39) 100%
  );
}

.font-urbanist {
  font-family: "Urbanist", sans-serif;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: #000; /* black background */
  padding: 10px 0;
}

.marquee {
  display: inline-block;
  animation: marquee 60s linear infinite; /* slower and smooth */
}

.marquee span {
  display: inline-block;
  padding-right: 100px; /* space between repeated content */
  color: #d1d5db; /* gray text */
}

/* seamless scroll */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


